# Unaliases the specified commands without throwing errors.
unaliasif() {
    for a in ${@}; do
        alias ${a} >/dev/null 2>&1 || continue
        unalias ${a}
    done
}

# vim: ft=zsh expandtab ts=4 sts=4 sw=4 :
